@font-face {
    font-family: "Circular Book";
    src: url("Circular/CircularStd-Book.otf") format("Opentype");
}
@font-face {
    font-family: "Circular Bold";
    src: url("Circular/CircularStd-Bold.otf")
    format("Opentype");
}
@font-face {
    font-family: "Circular Black";
    src: url("Circular/CircularStd-Black.otf")
    format("Opentype");
}

:root{
    --fonte-padrão: "Circular Book";
    --fonte-titulo: "Circular Black";
    --fonte-negrito: "Circular Bold";

    --secao-fundo: #f037a5;
    --brilho-texto: #1ed760;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: var(--fonte-padrão);
}

header{
    font-family: var(--fonte-negrito);
    font-size: 20px;

    background-color: black;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100px;
}

header .logo-header{
    width: 166px;
    margin-top: 2px;
}

header div{
    margin: 25px 25px 21px 106px;
}

header nav{
    margin-right: 20px;
    margin-top: -3px;
}

header ul{
    list-style-type: none;

    display: flex;
    align-items: center;

    margin: 25px 56px 21px 21px;
}

header li{
    padding: 0px 21px;
}

header ul .linha{
    width: 1px;
    background-color: white;
    height: 20px;
    padding: 0px;

    margin-left: 20px;
    margin-right: 3px;
}

header .perfil{
    display: flex;
    align-items: center;

    cursor: pointer;
    padding: 0px;
    margin: 0px 29px 0px 20px;
}

header .perfil img{
    width: 50px;
    border-radius: 50%;

    margin: 0px 12px 0px 20px;
}

header .perfil button{
    color: white;
    background-color: black;
    border: none;

    font-size: 20px;
    font-family: var(--fonte-negrito);

    padding: 0px 2px 0px 10px;
    cursor: pointer;
}

header .perfil:hover > button{
    color: var(--brilho-texto);
}

header .perfil .seta-perfil{
    width: 15px;
    margin: 0px 0px 3px 10px;
}


main .curta-o-premium{
    background-color: var(--secao-fundo);
    color: white;

    font-size: 30px;
}

main .container-premium{
    padding: 90px 107px;
}

main .curta-o-premium h1{
    font-family: var(--fonte-titulo);
    font-size: 50px;

    padding-bottom: 40px;
}

main .curta-o-premium p{
    font-size: 30px;
}

main .div-botoes-comeco{
    padding: 20px;
    
}

main .div-botoes-comeco .comece-agora{
    background-color: rgb(25, 20, 20);
    color: white;

    font-family: var(--fonte-negrito);

    padding: 20px 25px;

    border-radius: 30px;
}

main .div-botoes-comeco .ver-planos{
    background-color: transparent;
    color: black;

    font-family: var(--fonte-negrito);
}